html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}


h1,
h2,
h3 {
  font: inherit;
}

img,
picture {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  outline: transparent;
}

input,
button,
textarea {
  font: inherit;
  outline: transparent;
  border: none;
  background-color: transparent;
}

textarea {
  resize: none;
}

button {
  padding: 0;
  cursor: pointer;
  outline: transparent;
  color: inherit;
  background-color: transparent;
}

blockquote {
  margin: 0;
}

address {
  font-style: normal;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media (favors-reduced-motion: reduce) {

  *,
  * ::before,
  * ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}