html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2a39;
  background: #eff3ea;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  padding: 30px 60px 11px 72px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  gap: 24px;
  margin-left: 250px;
}

.menu__item {
  font-size: 13px;
  line-height: 17px;
  letter-spacing: 0.04em;
  color: rgba(46, 42, 57, 0.75);
}

.menu__link {
  transition: 0.5s;
}

.menu__link:hover {
  transform: scale(1.1);
  color: darksalmon;
}

.header__actions {
  display: flex;
  align-items: center;
  gap: 0 24px;
}

.top {
  padding: 44px 0 44px;
}

.top__item {
  display: flex;
  align-items: flex-start;
  gap: 0 44px;
}

.top__inner {
  display: block;
  max-width: 379px;
  border-radius: 24px;
  background: radial-gradient(
    70.71% 70.71% at 50% 50%,
    rgb(255, 229, 229) 0%,
    rgb(255, 224, 218) 25%,
    rgb(215, 255, 137) 100%
  );
  padding: 60px 70px;
}

.top__title {
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 0.02em;
  margin-bottom: 24px;
}

.top__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.04em;
  color: rgba(46, 42, 57, 0.75);
  margin-bottom: 24px;
}

.top__btn {
  border-radius: 11px;
  padding: 15px 30px;
  width: 133px;
  height: 48px;
  box-shadow: 0 0 0 1px #2e2a39, 0 0 0 1px rgba(237, 255, 167, 0.45);
  background: #2e2a39;
  font-weight: 400;
  font-size: 14px;
  color: #edffa7;
  transition: 1s;
}

.top__btn:hover {
  transform: scale(1.2);
}

.top__img img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 24px;
}

.formulas {
  padding: 56px 0 56px;
}

.formulas__title {
  font-weight: 600;
  font-size: 28px;
  letter-spacing: 0.03em;
  margin-bottom: 44px;
  margin-left: 39px;
}

.formulas__list {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.formulas__item {
  border-radius: 12px 12px 12px 12px;
  background: #fdfbf7;
  box-shadow: 10px 10px 35px 0 rgba(46, 42, 57, 0.05);
}

.formulas__link {
  transition: 1s;
}

.formulas__link:hover {
  transform: scale(1.1);
  color: darksalmon;
}

.formulas__link img {
  border-radius: 12px 12px 0 0;
}

.formulas__name {
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.05em;
  text-align: center;
  padding-top: 28px;
  padding-bottom: 16px;
}

.formulas__price {
  font-size: 16px;
  letter-spacing: 0.06em;
  text-align: center;
  padding-bottom: 28px;
}

.mission {
  padding: 56px 0 56px;
  background: radial-gradient(
    64.11% 74.2% at 51.43% 49.96%,
    rgb(255, 229, 229) 0%,
    rgb(255, 224, 218) 25%,
    rgb(215, 255, 137) 100%
  );
}

.mission__title {
  max-width: 832px;
  font-weight: 600;
  font-size: 32px;
  letter-spacing: 0.02em;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 16px;
}

.mission__text {
  font-size: 16px;
  letter-spacing: 0.04em;
  text-align: center;
  color: rgba(46, 42, 57, 0.75);
}

.highlight {
  padding: 56px 0 61px;
}

.highlight__inner {
  padding-left: 39px;
  padding-right: 39px;
  gap: 40px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(2, 1fr);
}

.highlight__item {
  border-radius: 12px 12px 12px 12px;
  background: #fdfbf7;
  box-shadow: 10px 10px 35px 0 rgba(46, 42, 57, 0.05);
}

.highlight__item-first {
  max-width: 686px;
  grid-row: 1 / -1;
}

.highlight__item-sec {
  max-width: 396px;
}

.highlight__item-last {
  max-width: 396px;
}

.highlight__link {
  transition: 1s;
}

.highlight__link:hover {
  transform: scale(1.1);
  color: darksalmon;
}

.highlight__link img {
  display: block;
  height: auto;
  object-fit: cover;
}

.highlight__name {
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.05em;
  text-align: center;
  padding: 28px 0 16px;
}

.highlight__price {
  font-size: 16px;
  letter-spacing: 0.06em;
  text-align: center;
  padding-bottom: 28px;
}

.about {
  padding: 56px 0 56px;
}

.about__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 40px;
}

.about__item {
  text-align: center;
  max-width: 250px;
}

.about__title {
  font-weight: 600;
  font-size: 22px;
  letter-spacing: 0.04em;
  color: #2e2a39;
  margin: 24px 0 16px;
}

.about__text {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: rgba(46, 42, 57, 0.75);
}

.catalog {
  padding: 56px 0;
}

.catalog__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 40px;
}

.catalog__item {
  border-radius: 12px 12px 12px 12px;
  background: #fdfbf7;
  max-width: 347px;
  box-shadow: 10px 10px 35px 0 rgba(46, 42, 57, 0.05);
}

.catalog__link {
  display: flex;
  justify-content: center;
  margin: 28px 0;
  font-weight: 600;
  font-size: 22px;
  letter-spacing: 0.04em;
  text-align: center;
  transition: 1s;
}

.catalog__link:hover {
  transform: scale(1.1);
  color: darksalmon;
}

.footer {
  padding: 56px 0;
  background: radial-gradient(
    70.22% 98.94% at 50% 16.65%,
    rgb(255, 229, 229) 0%,
    rgb(255, 224, 218) 25%,
    rgb(215, 255, 137) 100%
  );
}

.footer__join {
  margin-bottom: 104px;
}

.footer__title {
  font-weight: 600;
  font-size: 48px;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 24px;
}

.footer__text {
  font-size: 16px;
  letter-spacing: 0.04em;
  text-align: center;
  color: rgba(46, 42, 57, 0.75);
  margin-bottom: 24px;
}

.footer__form {
  display: flex;
  position: relative;
  max-width: 358px;
  border-radius: 10px;
  box-shadow: 0 0 0 1px rgba(46, 42, 57, 0.55);
  background: #edffa7;
  margin: 0 auto;
}

.footer__email {
  font-family: "Inter", sans-serif;
  border: none;
  width: 358px;
  border-radius: 10px;
  box-shadow: 0 0 0 1px rgba(46, 42, 57, 0.55);
  background: #edffa7;
  font-size: 16px;
  letter-spacing: 0.06em;
  color: rgba(46, 42, 57, 0.75);
  padding: 14px 16px;
}

.footer__form-link {
  position: absolute;
  right: 16px;
  padding: 11px 0;
}

.footer__inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  margin-bottom: 136px;
}

.footer__menu {
  max-width: 86px;
}

.footer__inner-title {
  font-weight: 600;
  font-size: 22px;
  letter-spacing: 0.04em;
  margin-bottom: 24px;
}

.footer__menu-item {
  margin-bottom: 16px;
}

.footer__menu-link {
  letter-spacing: 0.04em;
  color: rgba(46, 42, 57, 0.75);
}

.footer__store {
  max-width: 250px;
}

.footer__store-item {
  max-width: 221px;
}

.footer__store-text {
  line-height: 33px;
  letter-spacing: 0.04em;
  color: rgba(46, 42, 57, 0.75);
}

.footer__store-text-big {
  font-weight: 700;
}

.footer__promises {
  max-width: 250px;
}

.footer__promises-text {
  line-height: 33px;
  letter-spacing: 0.04em;
  color: rgba(46, 42, 57, 0.75);
}

.footer__end {
  border: 1px solid rgba(46, 42, 57, 0.08);
  height: 0px;
  margin-bottom: 56px;
}

.footer__end-text {
  font-size: 10px;
  line-height: 17px;
  letter-spacing: 0.07em;
  text-align: center;
  color: rgba(46, 42, 57, 0.75);
  padding-top: 24px;
}

.menu__btn {
  display: none;
}

@media (max-width: 1192px) {
  .highlight__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (max-width: 1024px) {
  .menu {
    margin-left: 180px;
  }
  .top {
    padding-right: 20px;
    padding-left: 20px;
  }
  .top__item {
    gap: 0 25px;
  }
  .top__inner {
    max-width: 330px;
    padding: 40px 60px;
  }
  .top__img img {
    max-width: 630px;
  }
  .formulas__title {
    margin-left: 94px;
  }
  .formulas__list {
    flex-wrap: wrap;
  }
  .about__list {
    flex-wrap: wrap;
    gap: 30px 40px;
  }
  .catalog__list {
    flex-wrap: wrap;
    gap: 30px 40px;
  }
}

@media (max-width: 1000px) {
  .top__item {
    flex-direction: column-reverse;
    align-items: center;
    gap: 15px 0;
  }
}

@media (max-width: 940px) {
  .menu__btn {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 50;
  }
  .btn__line {
    position: absolute;
    left: 0;
    width: 100%;
    background-color: #000;
    height: 2px;
    transition: 0.3s ease;
  }
  .btn__line:nth-child(1) {
    top: 6px;
  }
  .btn__line:nth-child(2) {
    top: 20px;
  }
  .btn__line:nth-child(3) {
    top: 20px;
  }
  .btn__line:nth-child(4) {
    top: 35px;
  }
  .menu-open .btn__line:nth-child(1) {
    transform: scaleX(0);
  }
  .menu-open .btn__line:nth-child(2) {
    transform: rotate(45deg);
  }
  .menu-open .btn__line:nth-child(3) {
    transform: rotate(-45deg);
  }
  .menu-open .btn__line:nth-child(4) {
    transform: scaleX(0);
  }
  .logo {
    z-index: 50;
  }
  .header__actions {
    z-index: 50;
  }
  .menu {
    margin: 0;
    gap: 75px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: radial-gradient(
      64.11% 74.2% at 51.43% 49.96%,
      rgb(255, 229, 229) 0%,
      rgb(255, 224, 218) 25%,
      rgb(215, 255, 137) 100%
    );
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translateY(-100%);
    transition: 0.3s ease;
  }
  .menu-open .menu {
    transform: translateY(0);
  }
  .menu__item {
    font-size: 56px;
  }
  .menu-open .top {
    display: none;
  }
  .footer__promises {
    max-width: 210px;
  }
}

@media (max-width: 768px) {
  .menu {
    padding-top: 15px;
    gap: 50px;
  }
  .highlight__item-first {
    max-width: 500px;
  }
  .highlight__link img {
    max-width: 500px;
  }
  .footer__inner {
    gap: 30px;
  }
}

@media (max-width: 640px) {
  .top__img img {
    max-width: 500px;
  }
  .top__inner {
    max-width: 316px;
    padding: 34px 38px;
    bottom: -94px;
  }
  .top__title {
    font-size: 42px;
    line-height: 50px;
  }
  .top__text {
    font-size: 16px;
    line-height: 28px;
  }
  .footer__inner {
    padding-left: 10px;
    padding-right: 20px;
  }
}

@media (max-width: 560px) {
  .top__img img {
    max-width: 366px;
  }
  .highlight__item-first {
    max-width: 366px;
  }
  .highlight__link img {
    max-width: 366px;
  }
  .footer__inner {
    display: flex;
    flex-direction: column;
    padding-left: 24px;
  }
}

@media (max-width: 414px) {
  .header {
    padding: 14px 14px;
  }
  .menu__btn {
    width: 24px;
    height: 24px;
  }
  .btn__line:nth-child(1) {
    top: 0px;
  }
  .btn__line:nth-child(2) {
    top: 10px;
  }
  .btn__line:nth-child(3) {
    top: 10px;
  }
  .btn__line:nth-child(4) {
    top: 20px;
  }

  .mission__title {
    max-width: 326px;
    font-size: 26px;
    line-height: 38px;
  }
  .highlight__item {
    max-height: 490px;
  }
  .highlight__link img {
    max-width: 366px;
    max-height: 380px;
  }
  .footer__join {
    padding: 0 24px;
    margin-bottom: 74px;
  }
}
